<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Registrarse</title>
</head>
<body>

    <header>

        <img src="/images/logo-mercado-liebre.svg" alt="logo" width="50%">
        <form>        

            <input type="text" id="buscar" placeholder="Buscar productos, marcas">

            <button type="submit"><i class="fas fa-search"></i>
            </button>
        </form>

        <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</i></p>
        <ul>
            <li>Ofertas</li>
            <li>Tiendas oficiales</li>
            <li>Vender</li>
            <li>Ayuda</li>

            <li><a href="/register">Crea tu cuenta<i class="fas fa-user-circle"></i></a></li>
            <li><a href="/login">Ingresa<i class="fas fa-sign-in-alt"></i></a></li>
            <li>Mis compras<i class="fas fa-shopping-basket"></i></li>
        </ul>
        <div class="burger-menu hamburguesa">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <form method="get" action="/" class="registro">
        <p><label for="nombre">Ingrese nombre y apellido</label>
        <input type="text" name="nombre" id="nombre"></p>
        <br>
        <p><label for="usuario">Nombre de usuario</label>
        <input type="text" name="usuario" id="usuario"></p>
        <br>
        <p><label for="fenac">Fecha de nacimiento</label>
        <input type="date" name="fecha" id="fecha"></p>
        <br>
        <p><label for="domicilio">Ingrese su domicilio</label>
        <input type="text" name="domicilio" id="domicilio"></p>
        <br>
        
        <p><label for="perfil">Perfil de usuario</label><br><input type="radio" name="perfil" value="comprar">Comprar</p>
        <p><input type="radio" name="perfil" value="vender">Vender</p>
        <br>
        <p><label for="categoria">Intereses</label></p>
        <p><input type="checkbox" name="perfil" value="Electro">Electro</p>
        <p><input type="checkbox" name="perfil" value="Moda">Moda</p>
        <p><input type="checkbox" name="perfil" value="Hogar">Hogar</p>
        <p><input type="checkbox" name="perfil" value="Jugueteria">Jugueteria</p>
        <p><input type="checkbox" name="perfil" value="Vida sana">Vida Sana</p>
        <br>
        <p><label for="foto">Foto de usuario</label>
        <input type="file" name="foto" id="foto"></p>
        <br>
        <p><label for="contraseña">Ingrese contraseña</label>
        <input type="password" name="contraseña" id="contraseña"></p>
        <br>
        <p><label for="confirmar">Confirmar contraseña</label>
        <input type="password" name="confirmacion" id="confirmacion"></p>
        <br>
        <p class="botones"><input type="submit" name="enviar" id="enviar" value="enviar">
        <input type="reset" value="borrar" id="borrar"></p>
    </form>

    <footer>
        <div>
            <i class="fas fa-credit-card icono"></i>
            <br>
            <b>Pagá con tarjeta o en efectivo</b>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>

        <div>
            <i class="fas fa-gift icono"></i>
            <br>
            <b>Envío gratis desde $ 2.500</b>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>

        <div>
            <i class="fas fa-user-shield icono"></i>
            <br>
            <b>Seguridad, de principio a fin</b>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
            </p>
        </div>

    </footer>
</body>
</html>