<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="get" action="/">
        <label for="nombre">Ingrese nombre y apellido</label>
        <input type="text" name="nombre" id="nombre">

        <label for="usuario">Nombre de usuario</label>
        <input type="text" name="usuario" id="usuario">

        <label for="fenac">Fecha de nacimiento</label>
        <input type="date" name="fecha" id="fecha">

        <label for="domicilio">Domicilio</label>
        <input type="text" name="domicilio" id="domicilio">

        <label for="perfil">Perfil de usuario</label>
        <input type="radio" name="perfil" value="comprar">
        <input type="radio" name="perfil" value="vender">

        <label for="categoria">Intereses</label>
        <input type="checkbox" name="perfil" value="Elenctro">
        <input type="checkbox" name="perfil" value="Moda">
        <input type="checkbox" name="perfil" value="Hogar">
        <input type="checkbox" name="perfil" value="Jugueteria">
        <input type="checkbox" name="perfil" value="Vida sana">

        <label for="foto">Foto de usuario</label>
        <input type="file" name="foto" id="foto">

        <label for="contraseña">Ingrese contraseña</label>
        <input type="password" name="contraseña" id="contraseña">

        <label for="confirmar">Confirmar contraseña</label>
        <input type="password" name="confirmacion" id="confirmacion">

        <input type="submit" name="enviar" id="enviar" value="enviar">
        <input type="reset" value="borrar">
    </form>
</body>
</html>